.form-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
}

.form-bottom {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.slider{
    width: 50%;
}

button,
input[type='button']{
    width: 300px;
    height: 45px;
}
input[type='button']{
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}
.slider {
    width: 100%;
    /* padding-right: 300px; */
    width: 450px;

}

.blok{
    width: 400px;
    height: 200px;
    background-color: red;
}

.checkbox12 {
    width: 100%;
    margin-left: 150px;
    margin-right: 150px;

}

.button {
    width: 100%;
    display: flex;
    gap: 10px;
}


form {
    width: 85%;
    margin-top: 70px;
    padding: 20px;
    margin-left: 95px;
    border-radius: 10px;
}

.products-block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-top input,
select {
    width: 260px;
    height: 30px;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;
    margin-right: 25px;
    margin-top: 10px;
    padding-left: 10px;
}

.products{
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.hr{
    width: 85%;
    height: 1px;
    margin-left: 100px;
}

h4{
    padding-left: 100px;
    padding-bottom: 10px;
}

.product{
    padding: 15px;
    box-shadow: 4px 4px 7px rgb(46, 44, 44);
    border-radius: 10px;
    margin-top: 25px;
    background-color: #181920;   
    color: #394E6A;
}

.product li,h1,p{
    list-style: none;
    text-align: center;
    margin-bottom: 7px;
    margin-top: 15px;
}

.product h1{
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    gap: 0.5rem;
    
}

.product img{
    width: 320px;
    height: 14rem;
    padding: 1rem 1rem 0rem 1rem;
    max-width: 100%;
    object-fit: cover;
}